<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Microsoft Visual Studio Offline Packages" value="https://www.nuget.org/api/v2/" />
  </packageSources>
  <config>
    <add key="RestorePackagesPath" value="packages" />
    <add key="RepositoryPath" value="packages" />
  </config>
</configuration>
